<div class="container" *ngIf="!loading">
  <h3>{{ form.name }}</h3>
  <p>{{ form.description }}</p>

  <hr/>

  <div class="row">
    <ng-container *ngFor="let field of formFields | orderBy : 'order' : false">
      <div class="col-md-6 form-group" *ngIf="field.access_level == userAccessLevel">
        <label>{{ field.name }}</label>
        <ng-container *ngIf="field.type == 'number' && field.display_format;else otherInputs">
          <input [type]="get_input_type(field.type)" class="form-control" [(appDisplayFormat)]="values[field.id]" [format]="field.display_format" [pattern]="field.pattern">
        </ng-container>
        <ng-template #otherInputs>
          <input [type]="get_input_type(field.type)" class="form-control" [(ngModel)]="values[field.id]" [pattern]="field.pattern">
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
