<div class="modal-header">
  <button type="button" class="close" (click)="activeModal.dismiss()">&times;</button>
  <h4 class="modal-title">
    {{ fieldId == 0 ? "Create new field" : (edit ? "Edit field" : "Field information") }}
  </h4>
</div>
<div class="modal-body">
  <form [formGroup]="fieldForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{'is-invalid': showErrors && !fieldForm.controls['name'].valid}" (focus)="showErrors = false" [readonly]="!edit"/>
    </div>
    <div *ngIf="fieldForm.controls['name'].hasError('required') && showErrors" class="alert alert-danger py-1">
      <small>Name is required</small>
    </div>
    <div class="form-group">
      <label for="display">Display Name</label>
      <input type="text" class="form-control" id="display" formControlName="display" [ngClass]="{'is-invalid': showErrors && !fieldForm.controls['name'].valid}" (focus)="showErrors = false" [readonly]="!edit"/>
    </div>
    <div *ngIf="fieldForm.controls['display'].hasError('required') && showErrors" class="alert alert-danger py-1">
      <small>Display Name is required</small>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="type" formControlName="type" [ngClass]="{'is-invalid': showErrors && !fieldForm.controls['name'].valid}" (focus)="showErrors = false" [attr.disabled]="edit ? null : 'disabled'">
        <option *ngFor="let type of typeKeys" [value]="type">{{ fieldTypes[type] }}</option>
      </select>
    </div>
    <div *ngIf="fieldForm.controls['type'].hasError('required') && showErrors" class="alert alert-danger py-1">
      <small>Type is required</small>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description" rows="3" [ngClass]="{'is-invalid': showErrors && !fieldForm.controls['name'].valid}" (focus)="showErrors = false" [readonly]="!edit"></textarea>
    </div>
    <div *ngIf="fieldForm.controls['description'].hasError('required') && showErrors" class="alert alert-danger py-1">
      <small>Description is required</small>
    </div>
    <div class="form-group">
      <label for="required">Required</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="required" [ngClass]="{'is-invalid': showErrors && !fieldForm.controls['name'].valid}"  [attr.disabled]="edit ? null : 'disabled'"/>
        </label>
      </div>
    </div>
    <div class="form-group" *ngIf="['number'].includes(fieldForm.controls['type'].value)">
      <label for="format">Display Format</label>
      <input type="text" class="form-control" id="format" formControlName="format" [readonly]="!edit" placeholder="0.2-2">
    </div>
    <div class="form-group">
      <label for="order">Order</label>
      <input type="number" class="form-control" id="order" formControlName="order" [ngClass]="{'is-invalid': showErrors && !fieldForm.controls['name'].valid}" (focus)="showErrors = false" [readonly]="!edit"/>
    </div>
    <div *ngIf="fieldForm.controls['order'].hasError('required') && showErrors" class="alert alert-danger py-1">
      <small>Order is required</small>
    </div>
    <div class="form-group">
      <label for="access">Access Level</label>
      <input type="number" class="form-control" id="access" formControlName="access" [ngClass]="{'is-invalid': showErrors && !fieldForm.controls['name'].valid}" (focus)="showErrors = false" [readonly]="!edit"/>
    </div>
    <div *ngIf="fieldForm.controls['access'].hasError('required') && showErrors" class="alert alert-danger py-1">
      <small>Access Level is required</small>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="edit">Submit</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
