<div class="container">
  <ng-container *ngIf="!loading">
    <ng-container>
      <h2 *ngIf="mode == 'create'">Creating new form</h2>
      <h2 *ngIf="mode == 'edit'">Editing form: {{ form.name }}</h2>
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Form Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter form name" [readonly]="mode == 'view'">
          </div>
          <div class="form-group col-md-6">
            <label for="description">Form Description</label>
            <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
          </div>
        </div>
        <div class="mt-4">
          <div class="d-flex justify-content-between">
            <h4>Fields</h4>
            <button type="button" class="btn btn-primary btn-sm" (click)="openFieldModal(0, true)">Add new field</button>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Display Name</th>
                <th>Type</th>
                <th>Required</th>
                <th>Order</th>
                <th>Access Level</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let field of formFields">
                <td>{{field.name}}</td>
                <td>{{field.display_name}}</td>
                <td>{{field.type}}</td>
                <td>{{field.required}}</td>
                <td>{{field.order}}</td>
                <td>{{field.access_level}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm me-2" (click)="openFieldModal(field.id, false)">View</button>
                  <button type="button" class="btn btn-primary btn-sm me-2" (click)="openFieldModal(field.id, true)">Edit</button>
                  <button type="button" class="btn btn-danger btn-sm me-2" (click)="deleteField(field.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="submit" class="btn btn-primary mt-5" [disabled]="!createForm.valid" *ngIf="mode != 'view'">Submit</button>
      </form>
    </ng-container>
  </ng-container>
</div>
