<div class="container">
  <div class="d-flex justify-content-between">
    <h2>Forms list</h2>
    <button class="btn btn-primary" [routerLink]="['/form/new']">Create new form</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let form of forms">
        <td>{{form.name}}</td>
        <td>{{form.description}}</td>
        <td>
          <button class="btn btn-primary m-1" [routerLink]="['/form/', form.id]">Edit</button>
          <button class="btn btn-danger m-1" (click)="deleteForm(form.id)">Delete</button>
          <button class="btn btn-secondary m-1" [routerLink]="['/load', form.id]">Load</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
